<h1>New Metric</h1>

<%= form_with model: [@fitness_goal, @metric] do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :metric_type %><br>
    <%= f.select :metric_type, ["strength", "body"] %>
  </p>

  <p>
    <%= f.label :unit %><br>
    <%= f.text_field :unit %>
  </p>

  <p>
    <%= f.label :sets %><br>
    <%= f.number_field :sets %>
  </p>

  <p>
    <%= f.label :reps %><br>
    <%= f.number_field :reps %>
  </p>

  <p>
    <%= f.label :weight %><br>
    <%= f.number_field :weight %>
  </p>

  <p>
    <%= f.label :target_value %><br>
    <%= f.number_field :target_value %>
  </p>

  <%= f.submit "Create Metric" %>
<% end %>
